/* User Information */
.name {
  font-weight: 400;
  font-size: 2rem;
  padding: 3% 15%;
}

.btn-edit-container {
  width: auto;
}
.btn-edit {
  color: black !important;
}
.name-input {
  border: none;
  background-color: #eae7dc;
}

.join-date {
  font-weight: 400;
  font-size: 0.7rem;
  font-family: "Oswald", sans-serif;
  padding: 3% 15%;
  color: #e98074;
}

.summary-button {
  color: #e85a4f;
  text-decoration: none;
  padding: 3% 12%;
  font-family: "Oswald", sans-serif;
}
.summary-button:hover {
  color: #e98074;
  transition: 200ms;
  text-decoration: underline;
}

/* Journal*/

.journalBlocks {
  text-align: center;
  height: max-content;
  margin-top: 10%;
}
